@media only screen and (max-width: 700px) {

  div.mainContainer {
    background-image: #FFCC00;
  }

  .titleee{
    /* padding-top: 100px; */
  }
  div.aboutPage {
    padding-top: 90px;
    background-color: #FFCC00;
    color: white;
    text-align: center;
  }

  nav.navbar{
    background-color: white;
  }

  div.card{
    padding: 15px;
    background-color: white;
    margin:15px;
    border-radius: 10px;
  }

  h1 {
    padding-top: 20px; 
    padding-left: 25px;
    padding-bottom: 20px;
  }

  h2 {
    /* padding: 5px; */
    color: #2D4FA3;
  }

  h3 {
    /* padding: 5px; */
    color: #2D4FA3;
  }

  p {
    color: #373D3F;
    padding: 10px;
    font-size: 1.5em;
    text-align: justify;
    text-justify: inter-word;
  }
}

@media only screen and (min-width: 700px) {

  div.aboutPage {
    background-color: #FFCC00;
    color: white;
    text-align: center;
  }
  
  div.cardContainer {
    /* background-color: red; */
    display: flex;
    display: inline-block;
    text-align: center;
    width: 30;
  }
  
  nav.navbar{
    background-color: white;
  }
  
  div.card{
    padding: 15px;
    background-color: white;
    margin:15px;
    border-radius: 10px;
  }
  
  h1 {
    padding-top: 20px; 
    padding-left: 25px;
    padding-bottom: 20px;
  }
  
  .card-img{
    padding: 15px;
  }
  
  h2 {
    padding: 5px;
    color: #2D4FA3;
  }
  
  h3 {
    padding: 5px;
    color: #2D4FA3;
  }
  
  p {
    color: #373D3F;
    padding: 10px;
    font-size: 10px;
    text-align: justify;
    text-justify: inter-word;
  }

}