.mainContainer {
  background-image: #ffcc00;
}

.title {
  padding: 20px 25px;
  font-weight: bold;
}
.aboutPage {
  padding-top: 90px;
  background-color: #ffcc00;
  color: white;
  text-align: center;
}

.about {
  font-size: 14px;
  word-wrap: break-word;
  color: #373d3f;
  padding: 10px;
}
.card {
  padding: 12px;
  background-color: white;
  margin: 12px;
  border-radius: 10px;
}
