.sign-in-container {
  background-color: #ffcc00;
  color: white;
  width: 100%;
}

.signin-header-text {
  padding-top: 140px;
  padding-left: 40px;
  padding-bottom: 5px;
  font-weight: bold;
  color: white !important;
  width: 100%;
}
.forgot-password {
  font-size: 14px;
}

.sign-form-area {
  border-radius: 8px 8px 0px 0px;
  background: white;
  color: #373d3f;
  padding-left: auto;
  padding-right: auto;
  width: 100%;
}

.sign-in-salutation {
  padding-top: 10%;
  font-weight: bold;
  padding-left: 10%;
  padding-bottom: 1%;
  color: black;
}

.sign-in-salutation-subtitle {
  padding-left: 40px;
  font-size: 15px;
  color: black;
}
.signup {
  text-decoration: none;
  font-weight: bold;
  color: #0050a3 !important;
}

.need-account {
  color: #373d3f;
}
