.sign-in-container {
  width: 100%;
  margin: 0 auto;
  max-width: 600px;
  background-color: #ffcc00;
  height: 100vh;
}
.signin-header-box {
  margin: 0;
}
.signin-header-text {
  padding-top: 140px;
  padding-left: 10%;
  padding-bottom: 5px;
  font-weight: bold;
  color: white !important;
  width: 100%;
  margin-bottom: 8;
}
.forgot-password {
  font-size: 14px;
}
.sigin-form-container {
  height: 100%;
}

.sign-form-area {
  background-color: white;
  border-radius: 8px 8px 0px 0px;
  color: #373d3f;
  padding-left: auto;
  padding-right: auto;
  width: 100%;
  height: 100%;
}

.sign-in-salutation {
  padding-top: 10%;
  font-weight: bold;
  padding-bottom: 1%;
  color: black;
  padding-left: 10%;
}

.sign-in-salutation-subtitle {
  text-align: left;
  font-size: 15px;
  margin-left: 60px;
  color: black;
}
.signup {
  text-decoration: none;
  font-weight: bold;
  color: #0050a3 !important;
}

.need-account {
  color: #373d3f;
}

@media (min-width: 600px) {
  .sign-in-container {
    box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.1);
  }
}
