.grid-wrapper-careers {
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding: 0px 0px 20px 0px; */
  
}

.grid-careers-image {
  width: 100%;
  border-radius: 15px;
  box-shadow: 0 0 15px 5px rgba(9, 110, 243, 0.103);
}

@media (max-width: 400px) {
  .grid-careers {
    margin: 0 auto;
    width: 90%;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 20px;
  }
  
  .grid-careers-image {
    grid-column: span 2;
  }
  
  .grid-careers-image:last-child:nth-child(3n - 1) {
    grid-column-end: -2;
  }
  
  .grid-careers-image:nth-last-child(2):nth-child(3n + 1) {
    grid-column-end: 4;
  }
}




