@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
.jobDetailsContainer {
  margin: 0px 25px 10px 25px;
  font-family: 'Inter', sans-serif;
  padding-top: 110px;
  /* margin: 0 auto; */
  max-width: 500px;
  box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.1);
  padding: 20px;
  border-radius: 0px 0px 8px 8px;
  background-color: white;
}
.jobDetailsMini {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
}
.jobDetailsRight {
  margin-right: 0;
}
.industry {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffde5c;
  height: 100px;
  border-radius: 15px;
  margin-bottom: 15px;
}

.positionn-jobs-detail {
  font-size: 24px;
  font-weight: 800;
  margin-bottom: 0px;
  margin-top: 0;
  color: black;
}
.companyLocationDiv {
  display: flex;
  align-items: center;
  gap: 50px;
}
.company {
  font-weight: 100;
  font-size: 13px;
  margin-top: 0 auto;
  color: black;
  font-weight: 400;
  margin-bottom: 0;
}
.locationDiv {
  display: flex;
  align-items: center;
  font-size: 10px;
  gap: 5px;
}
.location {
  font-weight: 400;
  padding: 0;
  margin: 0;
  color: black;
  font-size: 10px;
}
.descriptionDiv {
  background-color: rgba(176, 178, 180, 0.212);
  border-radius: 15px;
  padding: 18px 18px;
  border: 1px solid rgba(0, 0, 0, 0.247);
}
.description {
  font-family: 'Inter', sans-serif;
  font-size: 15px;
  margin-top: 0;
  padding: 0;
}
.descriptionText {
  font-size: 13px;
  padding: 0;
  margin-bottom: 0;
}

.acessoriesDiv {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}
.contactButton,
.applyButton {
  font-family: 'Inter', sans-serif;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 13px;
  background-color: #ffde5c;
  border-radius: 15px;
  box-shadow: none;
  border: none;
  margin-top: 30px;
  font-size: 20px;
  color: #004fa3;
  height: 50px;
  font-weight: 100;
  text-decoration: none;
}
.contactButtonText,
.applyButtonText {
  font-weight: 500;
  letter-spacing: 0.5px;
  margin-bottom: 0;
}
.wage {
  margin-top: 0px;
  color: black;
}
.hour {
  font-size: 14px;
  color: black;
}

#favbutton {
  width: 30px;
}

#favbutton:hover {
  cursor: pointer;
}

#applyHere,
#emailMe {
  text-decoration: none;
}

.jobs-details-page-compensation {
  color: black;
  font-weight: 700;
}

.wageDiv {
  margin-top: 10px;
  margin-bottom: 30px;
}

@media (min-width: 700px) {
  .jobDetailsContainer {
    margin: 0px 25px 10px 25px;
    font-family: 'Inter', sans-serif;
    padding-top: 110px;
    margin: 0 auto;
    max-width: 500px;
  }
  .weird-image-resize {
    width: 70px;
  }
}
