.sign-in-input {
  background-color: #eeeeee;
  border-radius: 10px;
  border: 5px solid #eeeeee;
  color: black;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: 40px;
  margin-right: 40px;
  width: 290px;
}

.signin-input-container {
  height: 100%;
  margin-bottom: 16px;
}
.forgot-password {
  /* margin-top: 5%; */
  margin-bottom: 5%;
  margin-left: 40px;
  font-size: 14px;
  text-decoration: none;
  font-weight: bold;
}

.signin-button {
  background-color: #0050a3;
  color: white;
  font-weight: bold;
  border: 0px;
  border-radius: 15px;
  padding-left: 10px;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-bottom: 10px;
  margin-left: 40px;
  margin-right: 40px;
  width: 290px;
}

.need-account {
  font-size: 14px;
  text-align: center;
  padding-bottom: 16px;
  margin-top: 10px;
  color: black;
}
