.number-of-jobs-jobsmap {
  width: 90%;
  margin: 0 auto;
}

.jobs-number-section-title {
  /* float: left; */
  margin: 0 auto;
  width: 90%;
  max-width: 900px;
  /* display: flex;
  justify-items: flex-start; */
}

.jobs-number-section-title-new {
  margin: 0 auto;
  font-size: 19px;
  font-weight: 500;
  margin-bottom: 20px;
  color: white;
}


@media (min-width: 700px) {
  /* .jobsmap-card-wrapper {
    width: 100%;
  } */

  .jobs-number-section-title {
    /* float: left; */
    margin: 0 auto;
    width: 100%;
    max-width: 900px;
    /* display: flex;
    justify-items: flex-start; */
  }

  .card-image {
    width: auto;
  }

  .grid-wrapper-careers {
    margin: 0 auto;
    max-width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 0px 20px 0px;
  }

  .grid-careers {
    margin: 0 auto;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 20px;
  }
  
  .grid-careers-image {
    grid-column: span 2;
  }
  
  .grid-careers-image:last-child:nth-child(3n - 1) {
    grid-column-end: -2;
  }
  
  .grid-careers-image:nth-last-child(2):nth-child(3n + 1) {
    grid-column-end: 4;
  }
  
  /* .grid-careers-image {
    width: auto;
  } */
  
  /* .grid-careers {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 10px;
  } */

  /* .grid-careers {
    margin: 0 auto;
    display: flex;
    grid-template-columns: none;
    grid-gap: 10px;
  }
  
   .grid-careers-image {
    grid-column: none;
  } 
  
  .grid-careers-image:last-child:nth-child(3n - 1) {
    grid-column-end: none;
  }
  
  .grid-careers-image:nth-last-child(2):nth-child(3n + 1) {
    grid-column-end: none;
  }  */

  /* .swipe-section {
    width: 900px;
  } */
}
