@media only screen and (max-width: 700px) {

  div.mainContainer {
    background-color: #174FA3;
  }

  div.savedPage {
    background-color: #174FA3;
    color: white;
    text-align: center;
  }

  div.card{
    padding: 15px;
    background-color: white;
    margin:15px;
    border-radius: 10px;
  }

  div.card-text{
    padding: 15px;
    color: black;
    margin:15px;
    border-radius: 10px;
  }

  h1 {
    padding-top: 20px; 
    padding-left: 25px;
    padding-bottom: 20px;
  }

  p {
    color: #373D3F;
    padding: 10px;
    font-size: 1.5em;
    text-align: justify;
    text-justify: inter-word;
  }
}

@media only screen and (min-width: 700px) {

  div.savedPage {
    background-color: #174FA3;
    color: white;
    text-align: center;
  }
  
  div.cardContainer {
    /* background-color: red; */
    display: flex;
    display: inline-block;
    text-align: center;
    width: 30;
  }
  
  nav.navbar{
    background-color: white;
  }
  
  div.card{
    padding: 15px;
    background-color: white;
    margin:15px;
    border-radius: 10px;
  }
  
  h1 {
    padding-top: 20px; 
    padding-left: 25px;
    padding-bottom: 20px;
  }

  p {
    color: #373D3F;
    padding: 10px;
    font-size: 10px;
    text-align: justify;
    text-justify: inter-word;
  }

}