@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

.searchContainer {
  width: 90%;
  font-family: "Inter", sans-serif;
  border-radius: 15px;
  max-width: 504px;
  margin: 35px 0px 60px 0px;
}

.searchContainer-form {
  width: 100%;
  box-shadow: 0 0 15px 5px rgba(9, 110, 243, 0.103);
  border-radius: 10px;
  padding: 4px;
}

.searchContainerLocation {
  display: flex;
  align-items: center;
  border-radius: 9px 9px 0px 0px;
  border-bottom: #a32d2d;
  height: 45px;
  background-color: white;
  padding: 2px 12px;
}
.searchContainerSearch {
  display: flex;
  align-items: center;
  border-radius: 0px 0px 9px 9px;
  border-bottom: #a32d2d;
  height: 45px;
  background-color: white;
  padding: 3px 10px;
  margin-top: 1.5px;
  width: 100%;
}
.searchInput {
  font-family: "Inter", sans-serif;
  font-size: 18px;
  border: none;
  margin-left: 12px;
  width: auto;
  width: 100%;
}
.locationInput {
  font-family: "Inter", sans-serif;
  font-size: 18px;
  border: none;
  margin-left: 12px;
  width: auto;
  width: 100%;
}

.searchContainerSearch select {
  -webkit-appearance: none;
  -moz-appearance: none;
  background: transparent;
  background-image: url("./downarrowicon.png");
  background-repeat: no-repeat;
  background-position-x: 100%;
  background-position-y: 5px;
  background-size: 20px;
  margin-right: 10px;
}
.searchContainer-searchIcon {
  width: 25px;
}

.searchContainer-locationIcon {
  width: 25px;
}
