.mainContainer {
  background-image: #ffcc00;
}

.resourcesPage {
  padding-top: 90px;
  background-color: #ffcc00;
  color: white;
  text-align: center;
}

.card {
  padding: 15px;
  margin-bottom: 20px;
  background-color: white;
  margin: 15px;
  border-radius: 10px;
  text-align: center;
}

.card-text {
  font-weight: bold;
  padding: 5px;
  color: #373d3f;
  text-align: center;
}
.titleee {
  padding: 20px 25px;
  font-weight: bold;
}
.resourceCardParagraph {
  color: #2d4fa3;
  padding-bottom: 10px;
  font-size: 10px;
  align-content: center;
}

.resourceAnchor:link {
  color: #2d4fa3;
  font-size: 14px;
}

.resourceAnchor:visited {
  color: #373d3f;
}

.resourceAnchor:hover {
  color: black;
}
