.full-div {
    background-color: #FFCC00;
    color: white;
}

h1 {
    padding-top: 20px; 
    padding-left: 25px;
    padding-bottom: 20px;
}

form {
    border-radius: 15px 15px 0px 0px;
    background: white;
    color: #373D3F;
    padding-left: auto;
    padding-right: auto;
}

h3 {
    padding-top: 10%;
    padding-left: 10%;
    padding-bottom: 2%;
    color: #727D83;
}

p {
    padding-bottom: 5%;
    padding-left: 10%;
    font-size: 10px;
}

input {
    background-color: #EEEEEE;
    border-radius: 10px;
    border: 5px solid #EEEEEE;
    color: black;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 20px;
    margin-left: 10%;
    margin-right: 10%;
}

.description-box {
    background-color: #EEEEEE;
    border-radius: 10px;
    border: 5px solid #EEEEEE;
    color: black;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 20px;
    margin-left: 10%;
    margin-right: 10%;
    height: 100px;
    font-family:Arial, Helvetica, sans-serif;
}

.submit {
    background-color: #0050A3;
    color: white;
    font-weight: bold;
    border: 0px;
}