.create-account-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #ffcc00;
  margin: 0 auto;
  border-radius: 0px 0px 8px 8px;
  max-width: 600px;
  height: 50vh;
}

.create-account-title {
  color: white;
  padding-bottom: 5px;
  margin-top: 140px;
  font-weight: bold;
  text-align: left;
}
.titleDiv {
  border-radius: 0px 0px 8px 8px;
  max-width: 600px;
  width: 100vw;
  display: flex;
  justify-content: flex-start;
  padding-left: 10%;
}

.create-account-area {
  border-radius: 8px 8px 8px 8px;
  background: white;
  color: #373d3f;
  padding-left: auto;
  padding-right: auto;
  width: 100%;
  height: 100%;
}

.create-account-salutation {
  padding-top: 10%;
  padding-left: 10%;
  padding-bottom: 1%;
  color: black;
  font-weight: bold;
}

.create-account-salutation-subtitle {
  padding-left: 10%;
  font-size: 15px;
}
.masterDiv {
  width: 100vw;
  background-color: white;
  height: 100vh;
}

@media (min-width: 600px) {
  .create-account-container {
    box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.1);
  }
}
