* {
  margin-bottom: 0rem;
}
.mainContainer {
  /* background-color: #004fa3; */
  height: auto;
  box-sizing: border-box;
}
body {
  background-color: rgba(0, 4, 255, 0.027);
}

img:hover {
  cursor: pointer;
}

a {
  text-decoration: none;
}

@media (min-width: 600px) {
}
