* {
  margin-bottom: 0rem;
}
.mainContainer {
  background-color: #004fa3;
  height: auto;
  box-sizing: border-box;
}
body {
  background-color: #004fa3;
}

img:hover {
  cursor: pointer;
}

a {
  text-decoration: none;
}